# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Byte-compiled
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
ENV/
env/
.venv/

# Logs and DB
*.log
db.sqlite3

# Media/static files
media/
staticfiles/

# Local settings
local_settings.py

# Environment variables
.env
.env.*
*.pem

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!**/migrations/__init__.py

# Test/coverage output
htmlcov/
.coverage
.coverage.*
coverage.xml
.tox/
.nox/
.cache/
.pytest_cache/
junitxml.xml
*.cover

# Editor settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temp files
*.swp
*.swo
*.bak
*.tmp
