# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
ENV/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
.coverage.*

# Test output
junitxml.xml

# Others
*.swp
*.swo